<h4>Here's Alex!</h4>

<form action="/NewPost" method="post" role="form">
  <label for="exampleInputName2">Имя</label>
  <input name="bloger[name]" type="text" class="form-control" id="exampleInputName2" placeholder="Input your name">
  <br/>
  <label for="exampleInputpost">Текст</label>
  <textarea name="bloger[content]" id="exampleInputpost" class="form-control" rows="6" placeholder="Input text of your post"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Опубликовать</button>
</form>

